#piniata config
PINATA_API_KEY =
PINATA_API_SECRET =
PINATA_JWT_TOKEN =

#filecoin config
FILECOIN_API_KEY=your_filecoin_key
NUMBERS_API_KEY=your_numbers_protocol_key

#contract config
CONTRACT_ADDRESS =


#alchemy config
RPC_URL =
PRIVATE_KEY =
EHTERSCAN_API_KEY =
